<body id="entry-background">
    <div class="in-entry-button-container">
        <%= link_to 'All Entries', entries_path, class: "in-entry-button button-entries" %>
    </div>
    <div class="card-container card-vertical">
        <div class="card-white card-vertical card-def">
            <div class="entry-container">
                <%= render 'form', entry: @entry %>

            </div>
        </div>
    </div>
</body>