$oxford-blue-h: #394159;
$storm-h: #657c99;
$periwinkle-h: #91B7D9;
$cream-h: #F8F5DA;
$mint-h: #99D3AB;
$basil-h: #63BF9E;
$leaf-hsla: hsla(148, 40, 63, 1);

.card-entry {
    flex: 1 1 auto;
    min-height: 100px;
    max-height: 800px;
    max-width: 300px;
    min-width: 260px;
    padding: 15px;
    overflow: hidden;
    display:flex;
    flex-direction: column;
}

.entries-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    width: 90vw;
    height:90vh;
    max-width: 450px;
    flex-wrap:wrap;
    overflow-y: scroll;
    padding-top:20px;
    padding-bottom:20px;
}

::selection {
    background: $oxford-blue-h;
    color: $cream-h;
  }
  
  ::-moz-selection {
    background: $oxford-blue-h;
    color: $cream-h;
  }
  
  * {
    scrollbar-width: thin;
    scrollbar-color: transparent $periwinkle-h;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: $periwinkle-h;
    border-radius: 20px;
  }
  
  .entry-body{
      border-radius: 15px;
      flex-grow: 1;
      background-color: white;
      border: 4px solid $cream-h;
      padding: 6px;
      color:$oxford-blue-h;
      box-shadow: 0px 3px 0px 0px $basil-h;
      margin-top:16px;
  }

  .entry-body p{
      font-size: 1.2em;
    line-height: 1.1em;
text-align: left;}

  hr {
    border: none;
    border-radius:99px;
    border-top: 2px solid $mint-h; 
    }

  .entry-heading{
    border-radius: 15px;
    height:40px;
    background-color: $leaf-hsla;

    padding: 6px;
    color:white;
    box-shadow: 0px 3px 0px 0px $basil-h;
}

.entry-heading h2{
    padding:4px;
    margin:auto;
    text-align:center;
}

.entry-button{
    border-radius: 99px;
    margin-top:-40px;
    margin-left:calc(100% - 50px);
    height:50px;
    width:50px;
    background-color:rgba(240, 240, 255, 0.55);
    color:white;
    border: 2px solid $storm-h;
    box-shadow: 0px 3px 0px 0px $basil-h;
    content: image-url("images/glasses_by_dinosoftlabs_via_flaticon.png");
    cursor: pointer;
}

.entry-button:hover{
    height:54px;
    width:54px;
    margin-top:-44px;
    margin-left:calc(100% - 54px);
    border: 2px solid $periwinkle-h;
    box-shadow: 0px 4px 0px 0px $basil-h;
    transform: rotate(5deg);
}

